{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="hompagecarousel" class="carousel mycarousel slide" data-ride="carousel" style="width:100%;">
	<div class="carousel-inner" role="listbox">
		<!-- allows for all products from any collection to be shown -->
		<!-- using FOO_set allows objects to access related foreign key objects -->
		{% for product in home_carousel.category.product_set.all %}
			{% if forloop.first %}
				{% for photo in product.photo_set.all %}
					{% if forloop.first %}					
							<div class="carousel-item active">
								<a onclick="location.href='{% url 'productdetail' product.pk %}'">
									<img class="d-block myimg"  src="{{ photo.image.url }}">					
							  		<div class="carousel-caption">
								    	<h3> {{ product.name }} </h3>
								    	<p>{{ home_carousel.category.name }}</p>
									</div>
								</a>
							</div>
					{% endif %}
				{% endfor %}
			{% else %}
				{% for photo in product.photo_set.all %}
					{% if forloop.first %}
						<!-- for the carousel to work we use if statement to add active class to first item only -->
							<div class="carousel-item">
								<a onclick="location.href='{% url 'productdetail' product.pk %}'">
									<img class="d-block myimg"  src="{{ photo.image.url }}">
									<div class="carousel-caption">
									    <h3> {{ product.name }} </h3>
									    <p>{{ home_carousel.category.name }}</p>
									</div>	
								</a>					  		
							</div>	
					{% endif %}	
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
	<a class="carousel-control-prev color" href="#hompagecarousel" role="button" data-slide="prev">
		<i class="fa fa-chevron-left"></i>
	</a>
	<a class="carousel-control-next color" href="#hompagecarousel" role="button" data-slide="next">
		<i class="fa fa-chevron-right"></i>
	</a>
</div>

<hr>

<div class="headerwrap">
    <img class="headerimg" src="{% static 'photo.jpg' %}">
    <h3 class="abs smallheadertext">Featured</h3>
</div>

<hr>

<div class="featurewrapper">
	{% for photo in featured_products.product_one.photo_set.all %}
			{% if forloop.first %}
				<a class="rel feature" onclick="location.href='{% url 'productdetail' featured_products.product_one.pk %}'">
					<h3 class="abs productinfo">{{ featured_products.product_one.name }}</h3>
					<img  class="featureimg" src="{{ photo.image.url }}">
				</a>
			{% endif %}
	{% endfor %}
	{% for photo in featured_products.product_two.photo_set.all %}
			{% if forloop.first %}
				<a class="rel feature" onclick="location.href='{% url 'productdetail' featured_products.product_two.pk %}'">
					<h3 class="abs productinfo">{{ featured_products.product_two.name }}</h3>
					<img class="featureimg" src="{{ photo.image.url }}">
				</a>
			{% endif %}
	{% endfor %}
	{% for photo in featured_products.product_three.photo_set.all %}
			{% if forloop.first %}
				<a class="rel feature" onclick="location.href='{% url 'productdetail' featured_products.product_three.pk %}'">
					<h3 class="abs productinfo">{{ featured_products.product_three.name }}</h3>
					<img class="featureimg" src="{{ photo.image.url }}">
				</a>
			{% endif %}
	{% endfor %}
</div>

<div class="hr"></div>
<h2 class="textheader">Recent Collections </h2>
<div class="hr"></div>

<div class="rowcontainer wrap">
	<a href="{% url 'productsall' featured_categories.category_one.pk %}" class="categorywrap">
		<img class="categoryimg" src="{{ featured_categories.category_one.image.url }}">
		<p class="categorytext"> {{ featured_categories.category_one.name }}</p>
	</a>
	<a href="{% url 'productsall' featured_categories.category_two.pk %}" class="categorywrap">
		<img class="categoryimg" src="{{ featured_categories.category_two.image.url }}">
		<p class="categorytext"> {{ featured_categories.category_two.name }}</p>
	</a>
	<a href="{% url 'productsall' featured_categories.category_three.pk %}" class="categorywrap">
		<img class="categoryimg" src="{{ featured_categories.category_three.image.url }}">
		<p class="categorytext"> {{ featured_categories.category_three.name }}</p>
	</a>
	<a href="{% url 'productsall' featured_categories.category_four.pk %}" class="categorywrap">
		<img class="categoryimg" src="{{ featured_categories.category_four.image.url }}">
		<p class="categorytext"> {{ featured_categories.category_four.name }}</p>
	</a>
</div>

<div class="hr"></div>
<h2 class="textheader">Recent Blogs </h2>
<div class="hr"></div>

{% for post in blogs %}
<div class="hr"></div>

<div class="prodrowcolcontainer">
	<div class="productbox">
		<div class="colcontainer">		
			<div class="rowcolcontainer">
				{% if post.image %}
						<img src="{{ post.image.url }}" class="featureimg" style="border-radius: 10px;">		
				{% endif %}
			</div>
		</div>
	</div>
	<div class="productbox">
		<div class="colcontainer padding">
			<h3>{{ post.headline }}</h3><p>{{ post.date }}</p>
			{{ post.description|safe|truncatewords:80 }}
		</div>
	</div>
</div>	
<div class="hr"></div>	
{% endfor %}

{% endblock %}