{% extends "base.html" %}

{% load static %}
{% block title %}Shipping{% endblock %}
{% block content %}

<p>SUCESS!!!</p>

{% for item in shipping %}
    <div class="colcontainer">
        <div class="rowcontainer">
            <p>First Name: </p>
            <p> {{ item.first_name }} </p>
        </div>
        <div class="rowcontainer">
            <p>Last Name: </p>
            <p> {{ item.last_name }} </p>
        </div>
        <div class="rowcontainer">
            <p>Email: </p>
            <p> {{ item.email }} </p>
        </div>
        <div class="rowcontainer">
            <p>Address: </p>
            <p> {{ item.address1 }} </p>
        </div>
        <div class="rowcontainer">
            <p>Town or City: </p>
            <p> {{ item.town }} </p>
        </div>
        <div class="rowcontainer">
            <p>Postcode: </p>
            <p> {{ item.postcode }} </p>
        </div>
        <div class="rowcontainer">
            <p>Country: </p>
            <p> {{ item.country }} </p>
        </div>
        {% if item.additional_note %}
        <div class="rowcontainer">
            <p>Additional Note: </p>
            <p> {{ item.additional_note }} </p>
        </div>
        {% endif %}
    </div>
{% endfor %}


{% endblock %}
