{% extends "base.html" %}

{% load static %}
{% block title %}All Products{% endblock %}
{% block content %}
	<div class="rowcontainer wrap">
	{% for product in products %}
		<a href="{% url 'productdetail' product.pk %}" class="productwrapper pointer">
			{% for photo in product.photo_set.all %}
				{% if forloop.first %}
					<img class="productimg" src="/media/{{ photo.image }}">
				{% endif %}				  		
			{% endfor %}

			<div class="productinfo abs imagetext">				
				<p>{{ product.name }}</p>
				<p class="productinfobox">£{{ product.price }}</p>
			</div>
		</a>					
	{% endfor %}
</div>


{% endblock %}