{% extends "base.html" %}

{% load static %}

{% block content %}
	<div class="rowcontainer wrap">
	{% for product in products %}
			<a href="{% url 'productdetail' product.pk %}" class="colcontainer rel productwrapper pointer">
			<!-- feels reeeeeal hacky -->
			{% for photo in product.photo_set.all %}
				{% if forloop.first %}
					<img class="productimg" src="/media/{{ photo.image }}">
				{% endif %}				  		
			{% endfor %}

			<div class="productinfo abs imagetext">				
				<div class="infowrap">
					<h3>{{ product.name }}</h3>
				</div>
				<div class="infowrap">
					<h3 class="productinfobox">£{{ product.price }}</h3>
				</div>
			</div>
		</a>					
	{% endfor %}
</div>


{% endblock %}