{% extends "base.html" %}

{% load static %}
{% block title %}{{ product.name }}{% endblock %}
{% block content %}

<div class="prodrowcolcontainer">
	<div class="productbox">
		<div id="carouselIndicators" class="carousel mycarousel slide" data-ride="carousel" style="width:100%;">
			<ol class="carousel-indicators">
				<li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselIndicators" data-slide-to="1"></li>
				<li data-target="#carouselIndicators" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<!-- using FOO_set allows objects to access related foreign key objects -->
				{% for photo in product.photo_set.all %}
					<!-- for the carousel to work we use if statement to add active class to first item only -->
					<div class="carousel-item {% if forloop.first %} active{% endif %}">
				  		<img class="d-block productfocusimg" src="{{ photo.image.url }}">
					</div>		
				{% endfor %}
			</div>
			<a class="carousel-control-prev color" href="#carouselIndicators" role="button" data-slide="prev">
				<i class="fa fa-chevron-left"></i>
			</a>
			<a class="carousel-control-next color" href="#carouselIndicators" role="button" data-slide="next">
				<i class="fa fa-chevron-right"></i>
			</a>
		</div>
	</div>	

	<div class="productbox">
		<div class="hr"></div>
		<div class="productdetailinfo">
			<h3>{{ product.name }}</h3>
			<!-- use safe tag for description as admin users only will input product descriptions. Allows html rendering from tinyMCE -->
			<div>
				{{ product.description|safe }}
			</div>
			<div class="infowrap">
				<p class="productinfobox">Price:</p>
				<p class="productinfobox">£{{ product.price }}</p>
			</div>
			{% if product.stock is not 1 %}
				<div class="infowrap">					
					<p class="productinfobox">Stock Available:</p>
					<p class="productinfobox">{{ product.stock }}</p>
				</div>	
			{% endif %}	
			<form class="myform" action="{% url 'cart_add' product.pk %}" method="post">
				{% if product.variant %}
					<div class="cartrowcol">					
						<p> {{ product.variant }} </p>					
						{{ cart_product_form.variant }}
					</div>
				{% endif %}
				{% if product.stock is not 1 %}
					<div class="cartrowcol">
						<p>Quantity</p>
						{{ cart_product_form.quantity }}
					</div>
				{% else %}
					<div class="initiallyhidden">{{ cart_product_form.quantity }}</div>
				{% endif %}

				<div class="cartrowcol">
					{% if not product.variant and product.stock is not 1 %}
					<p class="productemptybox"></p>
					{% endif %}
					{% csrf_token %}
					<input type="submit" name="" value="Add To Cart">
				</div>
			</form>
		</div>
	</div>

</div>

<hr>
<div class="colcontainer">
{% if random_products is not none %}
	<h3>Other products In the Collection</h3>
	<div class="rowcontainer wrap">
	{% for product in random_products %}
		<a href="{% url 'productdetail' product.pk %}" class="categorywrap">{{ collection }}
				{% for photo in product.photo_set.all %}
				    {% if forloop.first %}
					<img class="categoryimg" src="{{ photo.image.url }}">
					{% endif %}
				{% endfor %}
			<p class="categorytext"> {{ product.name }}</p>
		</a>
	{% endfor %}
	</div>
{% endif %}
</div>
{% endblock %}