a {
	color: inherit;
	text-decoration: unset;
}
a:hover {
	color: inherit;
	text-decoration: unset;
}

hr {
	width: 80%;
	border-top: 2px solid #dcdcdc;
}
.hr {
	height: 25px;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
}

.link {
	color: #212529;
	background-color: white;
	padding: 0.5em;
	border: solid 0px;
	border-color: rgba(97,97,97,0);
	transition: color 0.2s;
}
.link:hover {
	color: #cecece;
}

.mydropdown {
	cursor: pointer;
}
.dropdownlinks {
	position: absolute;
	z-index: 10;
	width: 100%;
	background-color: #fff;
}
.dropdownlink {
	width: 100%;
	color: white;
	background-color:#616161;
	padding: 0.5em;
	transition: color 0.2s, background-color 0.2s;
}
.dropdownlink:hover {
	color: #212529;
	background-color: white;
}
.buttonspacing {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.initallyhidden {
	display: none;
}

.pagecontainer {
	width: 100%;
	background-color:#eeeeee;
	padding: 0px 10px;
}
.contentcontainer {
	margin-left: auto;
	margin-right: auto;
}
/*.mycarousel {
	max-width: 500px;
}*/
.aboutdesc {
	margin: auto;
	width:100%;
}
.textheader {
	text-align: center;
}
.headerwrap {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}
.backgroundimg {
	filter: brightness(0.6);	
	object-fit: cover; 
	width: 100%;
	height: 200px;
}
.headerimg {
	filter: brightness(0.6);	
	object-fit: cover; 
	width: 100%;
	height: 100px;
}
.myheader {
	width: 100%;
}
.smallheadertext {
	padding-left: 2%;
	color:white; 
	margin:unset; 
	font-size:2em;	
}
.largeheadertext {
	z-index: 10;
	padding-left: 2%;
	color:white; 
	margin:unset; 
	font-size:3em;
}
.rowcolcontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.prodrowcolcontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.rowcontainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.wrap {
	flex-wrap: wrap;
}
.colcontainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.padding {
	padding-left: 0.5em;
	padding-right: 0.5em;
}
.productwrapper {
	display: flex;
	justify-content: flex-start;
	width:49%;
}
.productbox {
	width: 99%;
}
.productemptybox {
	height: 28px;
}
.producttitle {
	padding-bottom: 8px;
}
.productdata {
	padding-bottom: 7px
}
.productinfo {
	margin-left: 10px;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.productdetailinfo {
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.infowrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
}
.infowrap p{
	margin-bottom: 0px;
}
/*.productinfobox {
	width: 100%;
}*/
.productfocusimg {
	width: 100%;
	height: 400px;
	object-fit: cover;
}
.featurewrapper {
	cursor: pointer;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.feature {
	width: 100%;
}
.productimg {
	width: 100%;
	height: 200px;
	object-fit: cover;
}
.featureimg {
	width: 100%;
	height: 200px;
	object-fit:cover;
}
.categoryimg {
	width: 100%;
	height: 150px;
	object-fit:cover;
	transition: filter 0.2s;
}
.categorywrap {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}
.categorytext {
	font-size: 1.5em;
	color: #212529;
	z-index: 1;
	text-align: center;
}
.myimg {
	width:100%;
	height: 500px;
	margin-bottom: 5px;
	object-fit: cover;
}
.mygrid {
	padding: 0px 10px;
	width: 100%;
	column-count: 1;
	column-gap: 10px;
}
.abs {
	position: absolute;
}

.rel {
	position: relative;
}

.padright {
	padding-right: 10px;
}

.mybutton {
	background-color: unset;
	border: unset;
	font-weight: normal;
	padding:  0.5em;
}
.mybutton:focus {
	outline: unset;
}

.myselect {
	padding: 5px;
	background-color: #eeeeee;
	border: 2px solid white;
	border-radius: 5px;
}
.myfooter {
	justify-content: space-between;
	width: 100%;
}

#ismobile {
	display: block;
}
#isntmobile {
	display: none;
}
.myform {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
}
.myform select {
	padding: 7px;
	background-color: #eeeeee;
	border: 2px solid white;
	border-radius: 5px;
}
.myform input {
	padding: 5px;
	background-color: #eeeeee;
	border: 2px solid white;
	border-radius: 5px;
}
.cartbutton {
	padding: 5px;
	background-color: #eeeeee;
	border: 2px solid white;
	border-radius: 5px;
}
.mycart {
	font-size: 14px;
	width: 95%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartemptybox {
	height: 22px
}
.cartrowcol {
	width: 100%;
	padding-left: 5px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}
.cartimg {
	width: 150px;
	height: 100px;
	object-fit: cover;
}

@media only screen and (min-width: 575px) {
	body {
		font-size: 18px;
	}
	.headerwrap {
		justify-content: flex-start;
	}
	.featurewrapper {
		flex-direction: row;
	}
	.feature {
		width: 33%;
	}
	.link {
		padding: 0.5em 2em;
	}
	.mydropdownbutton {
		display: block;
		justify-content: unset;
	}
	.mygrid {
		column-count: 2;
	}
	.rowcolcontainer {
		display: flex;
		flex-direction: row;
	}
	.myimg {
		height: 500px;
	}
	#ismobile {
		display: none;
	}
	#isntmobile {
		display: block;
	}
	.mycart {
		width: 70%;
	}
	.myform {
		flex-wrap: unset;
	}
}

@media only screen and (min-width: 767px) {
	.prodrowcolcontainer {
		display: flex;
		flex-direction: row;
	}
	.productdetailinfo {
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
	}	
	.myfooter {
		justify-content: space-between;
		width: 70%;
	}
	.aboutdesc {
		width:60%;
	}
	.productwrapper {
		width: 30%;
	}
	.productimg {
		height: 300px;
	}
	.featureimg {
		height: 300px;
	}
	.productbox {
		width: 49.99%;
	}
	.cartrowcol {
		width: unset;
		flex-direction: column;
	}
	.mycart {
		width: 100%;
		font-size: 14px;
		flex-direction: row;
		justify-content: space-evenly;
	}
	.myform {
		width: 200px;
		flex-direction: row;
	}
}

@media only screen and (min-width: 1200px) {

	.contentcontainer {
		width: 70%;
	}
	.mygrid {
		column-count: 3;
	}	
	.categorywrap {
	width: 25%;
	}
	.productimg {
		height: 400px;
	}

	.categorywrap:hover img{
		filter: brightness(0.4);
	}
	.categorywrap:hover p{
		opacity: 1;
	}
	.categorytext {
		position: absolute;
		font-size: 2em;
		opacity: 0;
		transition: opacity 0.2s;
		-webkit-transition: opacity 0.2s;
		-moz-transition: opacity 0.2s;
		color: white;
	}
	.productdetailinfo {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
}	

/*----------------------------*/

.color {
	color: #212529;
	transition: color 0.01s;
}
.color:focus {
	color: #212529;
}
.color:active {
	color: white;
}
.carousel-caption {
	cursor: pointer;
	color: #212529;
	padding: unset;
	top: 30px;
}