{% extends "base.html" %}
{% load static %}

{% block content %}
	
{% if cart %}

<div class="hr"></div>
<h3>Your Cart</h3>
<div class="hr"></div>
<div class="colcontainer">

	<div class="colcontainer">
		{% for item in cart %}
			{% with product=item.product %}		
				<div class="mycart">
					<div class="cartrowcol">
						<div>
							<a href="{% url 'productdetail' product.pk %}">
								{% for photo in product.photo_set.all %}
									{% if forloop.first %} 
										<img class="cartimg" src="/media/{{ photo.image }}">
									{% endif %} 	
								{% endfor %} 
							</a>						
						</div>
					</div>
					<div class="cartrowcol">
						<div>Product</div>
						<div>
							{{ product.name }}
						</div>
					</div>
					<div class="cartrowcol">
						<div>Unit Price</div>
						<div>
							{{ item.price }}
						</div>
					</div>
					<div class="cartrowcol">
					<div>Quantity</div>
					<div>
						<form class="myform" action="{% url 'cart_add' product.pk %}" method="post">
							{{ item.update_quantity_form.quantity }}
							{{ item.update_quantity_form.update }}
							<input type="submit" value="Change">
							{% csrf_token %}
						</form>
					</div>
					</div>
					<div class="cartrowcol">
						<div>Remove</div>
						<div class="cartbutton">
							<a class="" href="{% url 'cart_remove' product.pk %}">Remove</a>
						</div>
					</div>
					<div class="cartrowcol">
						<div>Price</div>
						<div>
							{{ item.total_price }}
						</div>	
					</div>
				</div>
			{% endwith %}
		{% endfor %}
	</div>

{% else %}
<div class="hr"></div>
<h3> It looks like your cart is empty </h3>
<div class="hr"></div>
{% endif %}
<div class="hr"></div>
{% endblock %}
