{% extends "base.html" %}
{% load static %}
{% block title %}Cart{% endblock %}
{% block content %}
	
{% if cart %}
<h3>{{ attribute.product_variant.variant_name }}</h3>
<div class="hr"></div>
<h3>Your Cart</h3>
<div class="hr"></div>
	<div class="colcontainer">
		{% for item in cart %}
			{% with product=item.product %}		
				<div class="mycart">
					<div class="cartrowcol">
						<div>
							<a href="{% url 'productdetail' product.pk %}">
								{% for photo in product.photo_set.all %}
									{% if forloop.first %} 
										<img class="cartimg" src="/media/{{ photo.image }}">
									{% endif %} 	
								{% endfor %} 
							</a>						
						</div>
					</div>
					<div class="cartrowcol">
						<div class="producttitle">Product</div>
						<div class="productdata">
							{{ product.name }}
						</div>
					</div>
					<div class="cartrowcol">
						<div class="producttitle">Price</div>
						<div class="productdata">
							£{{ item.price }}
						</div>
					</div>
					<form class="myform" action="{% url 'cart_add' product.pk %}" method="post">
						{% if item.product.variant %}	
						<div class="cartrowcol">
							<div> {{ product.variant }} </div>
							{{ item.update_quantity_form.variant }}	
							{{ item.update_quantity_form.update_variant }}
						</div>
						{% endif %}
						<div class="cartrowcol">
							<div>Quantity</div>							
							{{ item.update_quantity_form.quantity }}
							{{ item.update_quantity_form.update_quantity }}		
						</div>		
						<div class="cartrowcol">
							<div class="cartemptybox"></div>							
							<input type="submit" value="Change">
							{% csrf_token %}
						</div>
					</form>
					<div class="cartrowcol">
						<div>Remove</div>
						<div class="cartbutton">
							<a class="" href="{% url 'cart_remove' product.pk %}">Remove</a>
						</div>
					</div>
					<div class="cartrowcol">
						<div class="producttitle">Sub Total</div>
						<div class="productdata">
							£{{ item.total_price }}
						</div>	
					</div>
				</div>
			{% endwith %}
			<hr>
		{% endfor %}
	</div>

{% else %}
<div class="hr"></div>
<h3> It looks like your cart is empty </h3>
<div class="hr"></div>
{% endif %}
<div class="hr"></div>
{% endblock %}
