{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>{% block title %} {% endblock %}</title>
</head> 

<body>

    <div class="headerwrap">
        <img class="backgroundimg" src="/media/{{ navbar_content.image }}">
        <a href="/" class="abs myheader">
           <h3 class="largeheadertext"> {{ navbar_content.headline }} </h3> 
        </a> 
    </div>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light">

        <!-- logo/brand -->
        <!-- <a class="navbar-brand" href="/">Eva Brudnell</a> -->

        <!-- Toggler/collapsibe Button -->
        <button class="align rowcontainer navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        <div class="menutag">Menu</div>
        </button>
       


        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="navbar-nav ml-auto">
                <!-- DROPDOWN -->
                <!-- given navbar/link class for same formatting as bootstrap links -->
                <div class="rel mydropdown" >
                    <div class="mydropdownbutton link" aria-label="DropdownButton">
                        <span class="buttonspacing"><span class="padright">Collections </span><i class="fas fa-angle-down"></i> </span>
                    </div>         
                    <div class="dropdownlinks initiallyhidden">
                        <div class="colcontainer">
                            {% for collection in categories %}
                                <a href="{% url 'productsall' collection.pk %}" class="dropdownlink">{{ collection }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <a class="link" href="{% url 'about' %}">About</a>
                <a class="link" href="{% url 'posts_all_view' %}">Blog</a>
                <a class="link" href="{% url 'cart_detail' %}">Cart</a>
            </div>
        </div>
    </nav>

    <!-- blocks are used to contain elements from other html files in django -->
    <div class="pagecontainer">
        <div class="contentcontainer">
            {% block content %} 
            {% endblock %}
        </div>
    </div>

    <footer class="colcontainer">
        <div class="hr"></div>
        <div class="rowcolcontainer myfooter">
            <a href="/" class="footerlink">Email@emailadress.com</a>
            <a href="/" class="footerlink">Contact</a>
            <a href="https://www.paypal.com/uk/webapps/mpp/paypal-popup" class="footerlink" title="How PayPal Works" onclick="javascript:window.open('https://www.paypal.com/uk/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-100px.png" border="0" alt="PayPal Logo"></a>
            <a href="https://stripe.com/gb" class="footerlink">
            <span><img src="/static/powered_by_stripe.png"></span>
            </a>
        </div>
        <div class="hr"></div>
    </footer>

    <div id="ismobile"></div>
    <div id="isntmobile"></div>

</body>
<!-- script references -->
    
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.4/js/all.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    {% block scripts %}{% endblock %}
</html>